@model SSA_FestivalApp.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                Oud wachtwoord
                <div>@Html.PasswordFor(m => m.OldPassword)</div>
            </li>
            <li>
                Nieuw wachtwoord
                <div>@Html.PasswordFor(m => m.NewPassword)</div>
            </li>
            <li>
                Bevestig nieuw wachtwoord
               <div>@Html.PasswordFor(m => m.ConfirmPassword)</div> 
            </li>
        </ol>
        <input type="submit" value="Wijzig" class="btn btn-primary btn-sm" />
    </fieldset>
}
