@model SSA_FestivalApp.Models.LoginModel

@{
    ViewBag.Title = "Aanmelden";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                <div class="editor-label">
                    Email:
                </div>
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                <div class="editor-label">
                    Wachtwoord:
                </div>
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                Onthouden 
                @Html.CheckBoxFor(m => m.RememberMe)
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Registreer", "Register") als je nog geen account hebt.
    </p>
}
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
