@model SSA_FestivalApp.Models.RegisterModel
@{
    ViewBag.Title = "Registreer";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                <div class="editor-label">
                    Email: 
                </div>
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                <div class="editor-label">
                    Wachtwoord:
                </div>
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                <div class="editor-label">
                    Bevestig wachtwoord: 
                </div>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Registreer" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
