@model FestivalLib.model.Band

@{
    ViewBag.Title = Model.Name;
}

<h2>Band details</h2>

<fieldset>
    <legend>Band</legend>

    <div class="display-label">
        Naam:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        Beschrijving:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descr)
    </div>

    <div class="display-field">
        <a href="http://www.twitter.com@(Model.Twitter)">Twitter</a>
    </div>

    <div class="display-field">        
        <a href="http://www.facebook.com@(Model.Facebook)">Facebook</a>
    </div>

    <div>
        @{
            var base64 = Convert.ToBase64String(Model.Picture);
            var imgSrc = String.Format("data:image/png;base64,{0}", base64);
        }
        <img src="@imgSrc" alt="@Model.Name" width="500" />
    </div>
</fieldset>
<p>
    @Html.ActionLink("Terug naar line up", "Index")
</p>
