@model IEnumerable<FestivalLib.model.LineUp>

<h1>Line Up</h1>
<table>
    <tr>
        <th>
            Dag
        </th>
        <th>
            Beginuur
        </th>
        <th>
            Einduur
        </th>
        <th>
            Bandnaam
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Until)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Band.Name)
        </td>

        <td>
            @Html.ActionLink("Details", "BandDetails", new { bandID=item.ID })
        </td>
    </tr>
}

</table>
