@model SSA_FestivalApp.Models.LineUpVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Filter", "LineUp", FormMethod.Post))
{
    @Html.DropDownList("SelectedDag", (SelectList)Model.lstDagen)
    @Html.DropDownList("SelectedPod", (SelectList)Model.lstPodia)
    <input type="submit" value="Toon" />
    <table>
    <tr>
        <th>
            Dag
        </th>
        <th>
            Begin
        </th>
        <th>
            Eind
        </th>
        <th>
            Band
        </th>
    </tr>

    @foreach (var item in Model.LineUps) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date.Day)/@Html.DisplayFor(modelItem => item.Date.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From.Hour):@Html.DisplayFor(modelItem => item.From.Minute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Until.Hour):@Html.DisplayFor(modelItem =>item.Until.Minute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Band.Name)
        </td>

        <td>
            @Html.ActionLink("Details", "BandDetails", new { bandID=item.Band.ID })
        </td>
    </tr>
}

</table>

}
