@model FestivalLib.model.Ticket

@{
    ViewBag.Title = "Reserveer";
}

<h2>Reserveer</h2>
@using (Html.BeginForm("Reserveer", "Ticket", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ticket</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.TicketHolder)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.TicketHolder)
            @Html.ValidationMessageFor(model => model.TicketHolder)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TicketHolderEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TicketHolderEmail)
            @Html.ValidationMessageFor(model => model.TicketHolderEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
