@model SSA_FestivalApp.Models.TicketTypeVM

@{
    ViewBag.Title = "Reserveer";
}


<h2>Reserveer</h2>

@using (Html.BeginForm("Insert", "Ticket", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TicketTypeVM</legend>

        <div class="editor-label">
            Naam:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ticket.TicketHolder)            
            @Html.ValidationMessageFor(model => model.Ticket.TicketHolder)
        </div>

        <div class="editor-label">
            Email adres:
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Ticket.TicketHolderEmail, new { @Value = User.Identity.Name, @readonly=true })
            @Html.ValidationMessageFor(model => model.Ticket.TicketHolderEmail)
        </div>

        <div class="editor-label">
            Aantal:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ticket.Amount)
            @Html.ValidationMessageFor(model => model.Ticket.Amount)
        </div>

        <div class="editor-label">
            Selecteer ticket:
        </div>
        <div class="editor-field">
            @Html.DropDownList("SelectedType", (SelectList)Model.lstTypes, "---Selecteer ticket---") 
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
