@model IEnumerable<FestivalLib.model.Ticket>

@{
    ViewBag.Title = "Overzicht van de reeds bestelde tickets";
}

<h2>@ViewBag.Title</h2>

<table class="tables">
    <tr>
        <th>
            Naam
        </th>
        <th>
            Email
        </th>
        <th>
            Aantal
        </th>
        <th>
            Dag
        </th>
        <th>
            Type
        </th>
        <th>
            Totaalprijs
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TicketHolder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketHolderEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.TicketType.Categorie)
        </td>
        <td>            
            @((item.Amount * item.TicketType.Price).ToString("c"))
        </td>
    </tr>
}

</table>


