<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <a href="@Url.Action("Index", "Home")" class="float-left"><img src="~/Content/images/logo_white.png" height="47px" "Logo + link naar home" /></a>
            <section id="login">
                @Html.Partial("_LoginPartial")
            </section>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Line Up", "Index", "LineUp")</li>
                    <li>@Html.ActionLink("Tickets bestellen", "Reserveer", "Ticket")</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Admin panel", "Summary", "Ticket")</li>
                    }
                </ul>
            </nav>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Gemaakt door Yoran Broodcooren</p>
            </div>
            <div class="float-right feed">
                <img src="~/Content/images/feed-icon-14x14.png"/>
                <a href="http://localhost:61968/api/rss">Aboneer je op onze RSS feed</a>                
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
